.max-w-9xl{
  max-width: 1600px;
}
iframe {
  overflow: hidden;
}
button{
  cursor: pointer;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}




